@import './base.css';

#app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: blue;
  transition: 0.4s;
  padding: 3px;
}
a:hover {
color: deepskyblue;
}

@media (hover: hover) {
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

@font-face {
  font-family: 'DigitanyRegularDeluxe';
  src: url('@/assets/fonts/DigitanyRegularDeluxe.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

#footer {
  text-align: center;
  margin: auto;
  margin-top: 2rem;
}

.primary-font {
  font-family: "Sometype Mono", monospace;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color:blue;
}

.secondary-font {
  font-family: "DigitanyRegularDeluxe", regular;
  font-weight: 500;
  color:blue;
}
